:root {
  --primary-color: #f9f9f9;
  --secondary-color: #333;
  --hr-color: #f1f1f1;
  --nav-bg: var(--primary-color);
  --nav-border: #eee;
  --banner-bg: #eee;
  --download-card-primary: #fff;
  --download-card-title: #000;
  --download-card-box-shadow: #e5e5e5;
  --web-link: #036273;
  --primary-font: 'Noto Sans JP', 'Segoe UI Variable Display', 'Segoe UI', 'Roboto', '-apple-system', 'BlinkMacSystemFont', 'Arial', sans-serif !important;
  --navigation-section-container-primary-background-color: #efefef;
}

[page-theme="dark"] {
  --primary-color: #161616;
  --secondary-color: #e4e4e4;
  --hr-color: #1f1f1f;
  --nav-bg: #181818;
  --nav-border: #1f1f1f;
  --banner-bg: #242424;
  --download-card-primary: #222222;
  --download-card-title: #000;
  --download-card-box-shadow: #000;
  --web-link: #03B4D3;
  --navigation-section-container-primary-background-color: #1d1d1d;
}



body {
  background: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  /* transition: background-color 0.5s; */
}

#options-section-title {
  color: var(--secondary-color) !important;
  font-weight: bold; 
  font-weight: 900; 
  text-transform: uppercase;
}


#options-section-description {
  color: var(--secondary-color) !important;
}

#settings-content {
  padding: 1em; 
  width: 100%; 
  box-sizing: border-box;
}

.navigation-section-container {
  background-color: var(--navigation-section-container-primary-background-color);
  padding: 1em; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

#options-section-title-and-description {
  display: grid; 
  grid-template-columns: auto 1fr; 
  align-items: center; 
  gap: 10px;
}

.popup-settings-area {
  padding: 1em;
  font-size: 0.8em;
}

.container {
  filter: none;
  display: flex;
  flex-direction: row; 
  height: 100vh;
}

.content-area {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container#blur.active {
  filter: blur(10px);
  pointer-events: none;
  transition: 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }
  .navbar {
      width: 100%;
      border-right: none;
  }
  .content-area {
      flex: none;
  }
}
  

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--hr-color);
  margin: 1em 0;
  padding: 0;
}

.content {
  box-shadow: 1px 1px 0.2em rgb(199, 199, 199);
  color: #161616;
  margin: 5px;
  padding: 5px 20px 5px 20px;
}

.content-extension-meta {
  line-height: 10px;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 18px;
  font-weight: bold;
}

.section-ico {
  width: 2em;
}

.sidebar-btn-ico-text {
  color: var(--secondary-color);
  font-weight: 900;
  text-transform: uppercase;
}

.sidebar {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  overflow-x: hidden;
  box-shadow: -2px 0px 10px #d0d0d0;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  margin-right: 7px;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.sidebar-active {
  border-left: 5px solid #036273;
  font-weight: bold;
}

.main {
  margin-left: 220px;
  padding: 6px 15px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

.main-body-title-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
}

.main-body-title-button h3 {
  width: 100%;
}

.main-body-section-header {
  border-bottom: 1px solid var(--hr-color);
  display: inline-flex;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.main-body-table {
  border-spacing: 0px 10px;
  color: var(--secondary-color);
  table-layout: fixed;
  width: 100%;
}

.modal {
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 0 28px #00000030;  
  transition: .2s;

  width: 95vw;
  height: 90vh;
  margin: 0px auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 5vh;

}

.modal .modal-header {
  display: flex;
  justify-content: flex-end;
  padding: 15px 18px;
}

.modal .modal-header button {
  cursor: pointer;
  font-size: 22px;
  color: #21202c;
  background: transparent;
  border: 0px;
}


.modal#hide {
  opacity: 0;
  transform: scale(.6);
  pointer-events: none;
}

.modal#show {
  opacity: 1;
  transform: scale(1);
  pointer-events: visible;
}

#showButton {
  cursor: pointer;
  position: absolute;
  background: #21202c;
  color: #ffffff;
  padding: 14px 22px;
  font-size: 18px;
  border-radius: 8px;
  letter-spacing: .5px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.privacypolicy {
  border: none;
  width: 100%;
  height: 68vh;
}

.main-body-section-announcement {
  border: 1px solid #ffb04e;
  border-radius: 5px;
  color: var(--secondary-color);
  margin-bottom: 1em;
  display: none;
}
.announcement-head {
  background-color: #ffb04e;
  padding: 0 0.5em;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
}

.announcement-content-area {
  padding: 0.5em;
}

.announcement-buttons {
  display: inline-flex;
  gap: 0.5em;
}


.announcement_text_area {
  display: inline-flex;
  flex-direction: column;
}

.announcement_title {
  font-weight: 800;
}

[data-tab-content] {
  display: none;

}

.active[data-tab-content] {
  display: block;
  font-size: 0.9em;
  animation: transitionIn 250ms;
}

.navbar {
  width: 15rem;
  /* position: fixed; */
  background-color: var(--nav-bg);
  color: var(--secondary-color);
  border-right: 1px solid var(--nav-border);
  /* transition: background-color 0.5s; */

}

.tab {
  cursor: pointer;
  padding: 5px;
}

.tab.active::before {
  width: 0;
  content: '';
  display: block;
  flex-shrink: 0;
}

.tab.active::after {
  width: 0.3em;
  content: '';
  display: block;
  position: absolute;
  top: 0.5em;
  height: 1.1em;
  background: #036273;
  left: 0.20em;
  right: unset;
  border-radius: 2px;
}

.tab.active {
  background-color: var(--navigation-section-container-primary-background-color);
  display: flex;
  position: relative;
  box-sizing: border-box;
  /* min-height: 32px; */
  /* border: 2px solid transparent; */
  border-radius: 10px;
  font-weight: bold;

}

.tabs {
  display: block;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0 1em;
}

.tabs-navtable {
  table-layout: fixed;
  width: 100%;
}

.navbar-tab-label {
  margin-left: 0.5em;
}

.tab-content-main {
  width: 100%;
}

.button-container {
  display: inline;
  float: right;
}

.navbar-title {
  padding: 15px;
  margin-bottom: 10px;
}

.navbar-version-string {
  font-size: 0.7em;
  display: block;
  background-color: #036273;
  border-radius: 5px;
  width: 32%;
  text-align: center;
  color: white;
}

.navbar-label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-left: 10px
}

.help-text {
  font-size: 0.8em;
}

a:-webkit-any-link {
  color: var(--web-link);
  cursor: pointer;
  text-decoration: underline;
}

.grid-container {
  display: grid; 
  grid-template-columns: auto auto;
  margin-top: 20px;
}

.download-card {
  align-items: center;
  background-color: var(--download-card-primary);
  box-shadow: 1px 1px 4px var(--download-card-box-shadow);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  padding: 3px;
}

.download-card .download-card-actions {
  visibility: hidden;
  display: flex;
  gap: 0.5em;
}

.download-card:hover .download-card-actions {
  visibility: visible;
}

.image-thumbnail {
  width: 3em;
  height: 3em;
  margin: 5px 5px 5px 5px;
  object-fit: cover;
}

.download_card_container {
  color: var(--secondary-color);
}

.download-card-site {
  background-color: var(--download-card-title);
  border-radius: 6px;
  color: #fff;
  display: inline-flex;
  margin-top: 5px;
  padding: 4px 7px;
  font-size: 0.8em;
  font-weight: 600;
}

.download-card-actions {
  margin-left: auto;
}

.download-card-actions-button-primary {
  background-color: #03B4D3;
  color: #fff;
  margin-right: 10px;

}


.download-card-actions-button-secondary {
  background-color: #fff0;
  margin-right: 1px;
}

.download-card-info {
  color: var(--secondary-color);
}

.beta_tag {
  padding: 4px;
  background-color: #FFCD03;
  color: black;
  border-radius: 6px;
  margin-right: 10px;
  font-weight: 600;
}

.grid-container {
  display: inline-block;
  vertical-align: top;
  padding: 1px;
}
.grid-item {
  display: inline-block;
  padding: 5px;
  vertical-align: top;
}

.options-quick-action-buttons {
  display: flex;
  gap: 0.3vw;
}

/** POP-UP SPECIFIC CSS BELOW **/
.popup_ui_nav_quick_access_container {
  display: flex;
  justify-content: space-around;
  gap: 1vw;
}

.popup_ui_version_string {
  background-color: #70cadc;
  padding: 0px;
  color: #000000;
  padding: 0 7px;
  border-radius: 10px; font-weight: 600; font-size: 0.75em;
}

.popup_ui_header_container {
  margin-top: 5px;
}
.popup_ui_header_site_title {
  padding: 0px;
  color: #000000;
  padding: 0 7px;
  font-weight: 600;
}

.button-content-container {
  display: inline-flex;
  align-items: anchor-center;
}

@media (max-width: 956px){
  .button-content-container {
    display: block;
    align-items: anchor-center;
  }
}

.title-area {
  background-color: var(--navigation-section-container-primary-background-color);
  display: flex; 
  justify-content: space-between; 
  padding: 10px; 
  border-top: 5px solid #70cadc;
}

.title-area span {
  color: var(--secondary-color) !important;
}

.popup-settings-none-available {
  padding: 2em;
  text-align: center; 
  color: rgb(63, 63, 63); 
  font-weight: 600;
}

.popup-settings-none-available p {
  color: var(--secondary-color) !important;
}

/** ANIMATION **/

@keyframes transitionIn {

  from {
    opacity: 0;
    transform: translateX(-15px)
  }

  to {
    opacity: 1;
    transform: translateX(0)
  }

}