/* @media (prefers-color-scheme: light){} */

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eee;
    width: 400px;
    height: 500px;
}

hr {
    display: block;
    height: 0.5px;
    border: 0;
    border-top: 1px solid #f1f1f1;
    margin: 0;
    padding: 0;
}


[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
    /* padding: 10px; */
    font-size: 1.2em;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #bfbfbf;
}

.tab { 
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.tab:hover {
    background-color: #f6f6f6
}

.tab.active {
    background-color: #f6f6f6;
}

.tab-content {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.tab-btn-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.tab-content-card { 
    background-color: #fff;
    padding: 5px;
    margin-bottom: 5px;
}